/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
    margin: 0 auto;
    padding: 0 150px;
}

header{
    padding: 15px 0;
    background-color: #F96115;
}

nav a{
    text-decoration: none;
    color: #FFECD3;
    margin-right: 10px;
}

.flex{
    display: flex;
    
}

body{
    background-color: #D4CEA7;
}

.col1{
    padding: 15px 0;
}

.col1-1{
    background-color: #005979;
    color: #D4CEA7;
    padding: 15px 40px 60px 30px;
    box-shadow: 5px 5px 2px 1px rgb(116, 113, 113);
    width: 30%;
}

.col1-1 ol li{
    list-style-type: decimal;
}

.col1 .flex{
    justify-content: space-between;
}


.col1-2{
    
    list-style-type: disc;
    
}

.col1-2-1{
    list-style-position: inside;
    list-style-type: decimal;
}

.col1-2-2{
    list-style-position: inside;
    list-style-type: disc;
    margin-left: 30px;
}

.col1-3{
    list-style-type: none;
    background-color: #005979;
    color: #D4CEA7;
    padding: 15px 40px 60px 30px;
    box-shadow: 5px 5px 2px 1px rgb(116, 113, 113);
    width: 30%;
}

 li{
    padding: 10px 0;
}

.col1-3 i{
    padding-right: 10px;
}

.article {
    margin: 20px 0px;
}
article h2{
    padding: 10px 0;
    font-size: 30px;
}
article p{
    margin-left: 20px;
}

footer{
    padding: 15px 0;
    background-color: #242C22;
}